body
{
	margin: 0 auto;
	padding: 0;
	background: url("images/bg1.jpeg");
	background-size: cover;
	
	font-family: sans-serif;
}
.loginform
{
width: 320px;
height: 420px;
background:#000;
color: #fff;
top: 50%;
left: 50%;
position: absolute;
 transform: translate(-50%,-50%);
 box-sizing: border-box;
 padding: 70px 30px;
}
/*.amar
{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	top: -30px;
	left: calc(50%,-50px);
}*/
.loginform h1
{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}
.loginform p
{
	margin: 0;
	padding: 0;
	font-weight: bold;

}
.loginform input
{
	width: 100%;
	margin-bottom: 20px;
}
.loginform input[type="text"],input[type="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background:transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
.loginform input[type="submit"]
{
	border: none;
	
	background:#fb2525;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
	border-radius: 20px;
}
.loginform input[type="submit"]:hover
{
	cursor: pointer;
	background:#ffc107;
	color: #000;
}
.loginform a
{
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: darkgrey;

}
.loginform a:hover
{
	color: #ffc107;
}